@font-face {
  font-family: 'ALS Hauss:Book';
  src: url('https://fonts.cdnfonts.com/s/94062/ALSHauss-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss:Regular';
  src: url('https://fonts.cdnfonts.com/s/94062/ALSHauss-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss:Medium';
  src: url('https://fonts.cdnfonts.com/s/94062/ALSHauss-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss:Bold';
  src: url('https://fonts.cdnfonts.com/s/94062/ALSHauss-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
